name: Java CI
run-name: ${{ github.actor }} is launching a build
on: 
  push:
    branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: tse-cf    
    steps:
      - name: Check out repository code    
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package   
  deploy:
    runs-on: ubuntu-latest
    needs: build    
    steps:
    - uses: NickChecan/sap-btp-action
      with:
        cf_api: ${{ secrets.CF_API }}
        cf_username: ${{ secrets.CF_USER }}
        cf_password: ${{ secrets.CF_PASSWORD }}
        cf_org: ${{ secrets.CF_ORG }}
        cf_space: ${{ secrets.CF_SPACE }}
        command: push cf-hello-world  